html, body {
    height: 100%;
    margin: 0;
  }
.login-box{
    align-items: center;
}
.login-logo{
    /* color: blue; */
    text-align: center;
}
.signup-link{
    text-align: center;
}

.bt-root-div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bt-child-wrapper{
    flex: 1;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
}